<div class="d-flex">
    <div class="me-2">
        <div class="input-group">
            <input type="text" class="form-control" #datePicker="bsDatepicker" bsDatepicker 
              [placeholder]="placeholder"
              aria-label="date" 
              aria-describedby="date"
              [minDate]="min"
              [maxDate]="max"
              [disabled]="disabled" 
              [(ngModel)]="dateValue" 
              (ngModelChange)="dateChanged($event)"               
              (blur)="onTouched()">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" (click)="datePicker.toggle()">
                <i class="fa fa-calendar"></i>
              </button>
            </div>
        </div>
    </div>

    <div>
        <timepicker 
            [disabled]="disabled" 
            [showMeridian]="showMeridian" 
            [showSpinners]="false"
            [(ngModel)]="timeValue" 
            (ngModelChange)="timeChanged($event)" 
            (blur)="onTouched()" />
    </div>
</div>

